// _Product.scss
.product {
  padding: $padding-medium;
  background-color: white;
  text-align: center;
}

.product h3 {
  font-size: 1.2em;
  margin-bottom: $padding-small;
}

.product p {
  margin: $padding-small 0;
  color: $secondary-color;
}

.delete-checkbox {
  margin-bottom: $padding-small;
  align-self: start;
  border: 2px solid #ccc; 
  border-radius: 4px; 
  width: 20px; 
  height: 20px; 
  position: relative; 
  cursor: pointer; 
  outline: none; 
  transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.delete-checkbox:checked {
  background-color: #007bff;
  border-color: #007bff;
}
